<div class="row border">
    <button class="col-md-1 text-center btn btn-danger p-1 previousDayFind_button">
        <
    </button>
    <div class="col text-center">
        <span class="align-middle">{{ date }}</span>
    </div>
    <button class="col-md-1 text-center btn btn-danger p-1 nextDayFind_button">
        >
    </button>
</div>